html{

}
body{
    background-color:#7FD2C9;
    display: flex;
    justify-content: center;
    
}
.box{
    width: 60rem;
    height: 50rem;
    background-color: #F2F2F2;
    border-radius: 3rem;
    margin: 20rem 0 0 0;
    border:1.3rem solid #838383;
    /*alineación*/
    display: flex;
    /*flex-wrap:wrap;*/
    flex-direction: column;
}
.superior{
    /*Alienación*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding: 0 0 0 2rem;
    width: 58rem;
    height: 7rem;
    background-color: #D9D9D9;
    border-radius:1.5rem 1.5rem 0 0 ;
}
.rojo{
    height: 3rem;
    width: 3rem;
    background-color: #ff605b;
    border-radius: 5rem;
    
}
.amarillo{
    height: 3rem;
    width: 3rem;
    background-color: #ffc02b;
    margin: 0 0 0 2rem;
    border-radius: 5rem;
}
.verde{
    height: 3rem;
    width: 3rem;
    background-color: #00ca3d;
    margin: 0 0 0 2rem;
    border-radius: 5rem;

}
.Fila_1{
    /*Alineacion*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    margin: 1.3rem 0 0 0;
    
}
.R1{
    width: 37rem;
    height: 8rem;
    background-color: #ff4945;

}
.R2{
    width: 19rem;
    height: 8rem;
    background-color: #ff4945;
}
.Fila_2{
    /*Alienación*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    margin: 1.3rem 0 0 0;
}
.cuadro1{
    width: 23rem;
    height: 23.5rem;
    background-color: #ffa931;
}
.cuadro2{
    width: 33rem;
    height: 23.5rem;  

    /*alienacion*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.M1{
    width: 33rem;
    height: 11rem;
    background-color: #9b0579;
    
}
.M2{
    width: 33rem;
    height: 11rem;
    background-color: #9b0579;
}
.Fila_3{
    /*Alienación*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    margin:0.9rem 0 0 0;
}
.T1{
    width: 16rem;
    height: 7rem;
    background-color: #00778f;
}
.T2{
    width: 19rem;
    height: 7rem;
    background-color: #00778f;
}
.T3{
    width: 20rem;
    height: 7rem;
    background-color: #00778f;
}